{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">Wondering what am I doing?</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>I am currently serving my National Service and will be matriculating into Computer Science.</p>
        <p>At present, as part of my preparation before my future after my ORD date, I am learning how to code, programe with the Python Programming Language as well as Web Development.</p>
        <p>I absolutely love Black Tea! and Motorcycle Riding, learning all about it and riding them hypes me up! A Yamaha YZF-R1M is my dream bike!</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}